*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
canvas,
img,
picture,
svg,
video {
  display: block;
  width: 100%;
}



button,
input,
select,
textarea {
  font: inherit
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word
}

*/


html {
  font-size: 16px;
}

#page {
  font-size: 1rem;
  max-width: 100svw;
}


h1, h2, h3, h4, h5, h6, p {
  text-wrap: balance;
}

.text-balance {
  text-wrap: balance;
}


body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'disto', sans-serif;
  margin: 0;
  padding: 0;
}

/* CONTAINER SEMPRE A TUTTA PAGINA */
/* .container,
.container-lg,
.container-md,
.container-sm .container-xl{
  width: 100% ;
  max-width: 100% ;
  padding: 0;
  margin: 0 ;
} */

/* HEADER E NAVBAR */
.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3;
  background-color: transparent;
}

.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: transparent;
  
}

.navbar-brand {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 0;
  z-index: 10001;
}

.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
  background: transparent;
  cursor: pointer;
}

/* NAVBAR COLORI E LINK */
.navbar.bg-dark {
  background-color: #262626 !important;
  font-size: 1.3rem;
}

.navbar .collapse {
  background-color: #262626 !important;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;

}

/* Stile normale per i link del menu */


/* MENU MOBILE A TUTTO SCHERMO */
@media (max-width: 992px) {
   


    /* Hide navbar collapse by default on mobile */
  .navbar.bg-dark .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #262626 !important;
    z-index: 9999;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    visibility: hidden;
  }

  /* Show it when Bootstrap adds the 'show' class */
  .navbar.bg-dark .navbar-collapse.show {
    transform: translateX(0);
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 60px 0;
  }

  /* Rest of your existing styles for .show state */
  .navbar.bg-dark .navbar-collapse.show .nav-link {
    display: flex;
    font-size: 2rem;
    padding: 10px 20px;
    color: #fff;
    text-align: center;
    width: 100vw;
    justify-content: flex-start;
    background-color:  #262626;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  /* Your existing hover styles remain the same */
  .navbar.bg-dark .navbar-collapse.show .nav-link:hover,
  .navbar.bg-dark .navbar-collapse.show .nav-link:focus,
  .navbar.bg-dark .navbar-collapse.show .nav-link:active {
    background-color: #ffffff;
    color:  #262626;
  }

  .navbar.bg-dark .navbar-collapse.show .nav-link {
    -webkit-tap-highlight-color: rgba(30, 58, 95, 0.3);
  }


  .navbar.bg-dark .navbar-toggler {
    position: unset;
    top: 20px;
    right: 20px;
    z-index: 10000;
  }


  .link-lan {
    padding-inline: 15px;
  }
}


/* TESTI */

.container-pages h4 {
  line-height: 4.5rem;
  font-size: 4.5rem;
  font-weight: 700;
  color: #000;
}

.container-pages h1 {
  line-height: 2.5rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: #000;
}

.container-pages h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #000;
  padding: 10px 0;
}

.container-pages h3 {
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 400;
  color: #000;
  padding: 10px 0;
}

.container-pages p {
  font-size: 1rem;
  line-height: 120%;
  font-weight: 400;
  color: #000;
  padding: 10px 0;
  margin: 0;
}

/* BOX TOPIC E IMMAGINI */
.container-pages,
.row {
  padding: 0 !important;
  margin: 0 !important;
}


.topic {
  padding-block-end: 40px; 
  height: 100%;
}

/* ---------------- INIZIO LANDING PAGE MOBILE---------------- */

/*
.topic {
  /* display: flex;
  flex-direction: column;
  } */

.top-img
 {
  width: 100%;
  aspect-ratio: 1/1;
  /* quadrato su mobile */
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #fff; */
  padding:0;
}

.top-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  
}

/*
.top-img2 {
  height: 100%;
}/*

/* LINK LANDING PAGE */

/* Stile base: link normale su mobile */
.link-lan {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 0;
  font-weight: 400;
  width: 100%;
}

.link-lan a,
.link-lan img {
  transition: all 0.2s;
}

.link-lan a {
  flex-direction: row;
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;



}

.link-lan a:hover {
  text-decoration: underline;
}

.link-lan img {

  width: 15px;
  height: 15px;
 

}

/* TESTO BOX */
.pag-text {
  width: 100%;
  display: flex;
  padding: 15px;
  flex-direction: column;
}


/* ---------------- FINE LANDING PAGE MOBILE---------------- */





/* ---------------- INIZIO ANSIA SOCIALE MOBILE---------------- */

/*  parte che gestisce background b/n */
.topic-wrapper{
  background-color: #262626;
}

.topic-wrapper.topic-light{
  background-color: #fff;
}


.topic{
  background-color: #262626;
}
.topic.topic-light{
  background-color: #fff;
}

.topic h1,
.topic h2,
.topic h3,
.topic p,
.topic a {
  color: #ffffff ;
}


.topic.topic-light h1,
.topic.topic-light h2,
.topic.topic-light h3,
.topic.topic-light p,
.topic.topic-light a {
  color: #262626;
}

/* fine backgr b/n*/


.ansia-hr {
  color: #ffffff solid;
  height: 2px;

  
}



.text-icon  h1,
.text-icon h2,
.text-icon h3,
.pag-text.icons  p{
  color: #fff;
}


.icone-anx {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.icone-anx h1,
.icone-anx h2,
.icone-anx h3,
.icone-anx p{
  color: #fff;
}


.text-icon h3,
.text-icon h2,
.text-icon p{
  color: #fff;
}


.icon-ansia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
 
}

.icon-ansia {
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

.icon-ansia img{

  width: 200px;
  height: 200px;
}

.graph img{
  width: 100%;
  padding:  40px 15px;
  margin:0;
  height: 100%;
}

.graph{
display: flex;
justify-content: center;
align-items: center; 

}

.fa-square {
  display: inline-block;
  width: 12px; /* Dimensione del quadrato */
  height: 12px; /* Dimensione del quadrato */
  margin-right: 5px; /* Spazio tra il quadrato e il testo */
  vertical-align: middle; /* Allinea verticalmente al testo */
  border-radius: 0; /* Rende il quadrato leggermente arrotondato */
}

/* lista leggenda */

 .list-unstyled li {
  display: flex;
  align-items: center;
  color: #ffffff;

}


.color-1 {
color: #D3473C !important; /* Colore per "Giovani tra i 18 e i 25 anni" */
margin: 10px;
}

.color-2 {
 color: #FFFFFF !important; /* Colore per "Giovani tra i 15 e i 19 anni" */
 margin: 10px;
}

/* fine lista leggenda */


/* ---------------- FINE ANSIA SOCIALE MOBILE---------------- */







/* ---------------- INIZIO PAG PROJECT MOBILE---------------- */


#topic-unseen1,#topic-unseen2, #topic-unseen3, #topic-unseen4, #topic-unseen5{
  background-color: #262626;
}

#topic-unseen1 h1,
#topic-unseen1 h2,
#topic-unseen1 p,
#topic-unseen1 a,
#topic-unseen2 h1,
#topic-unseen2 h2,
#topic-unseen2 p,
#topic-unseen2 a,
#topic-unseen3 h1,
#topic-unseen3 h2,
#topic-unseen3 p,
#topic-unseen3 a,
#topic-unseen4 h1,
#topic-unseen4 h2,
#topic-unseen4 p,
#topic-unseen4 a,
#topic-unseen5 h1,
#topic-unseen5 h2,
#topic-unseen5 p,
#topic-unseen5 a
{
  color: #ffffff !important;

}




/* ---------------- FINE PAG PROJECT MOBILE---------------- */






/* ---------------- INIZIO FOMO MOBILE---------------- */



.legenda {
  width: 1rem; 
  aspect-ratio: 1/1; 
  background-color:#ac5858 ;
  display: inline-block; 
  vertical-align: baseline; 
  border-radius: 2px; 
  margin-right: 5px;
}

.legenda.legenda-bianco {
  background-color:#ffffff;
  border: 1px #000 solid;
}

.topic-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.topic-fomo{
  height: 100%;
}



#fomo-end{
  background-color: #D3473C;
}

#fomo-end h1,
#fomo-end h2,
#fomo-end p
{
color: #ffffff;
}

#topic-fomo6 h4,
#topic-fomo6 h1{
color: #D3473C;
}

#list-fomo {
  list-style: none; /* Rimuove i punti elenco predefiniti */
   /* Rimuove il padding predefinito */
}

#list-fomo li {
  margin-bottom: 5px; /* Aggiunge un po' di spazio tra gli elementi della lista */
  color: #000;
}


#list-fomo i.fas.fa-square {
  display: inline-block; 
  vertical-align: baseline; 
  border-radius: 2px; 
  margin-right: 5px;
}

.legenda.legenda-bordeaux {
  background-color:#8A3933;
 
}
.legenda.legenda-red {
  background-color:#D3473C;

}
.legenda.legenda-black {
  background-color:#000000;
}
.legenda.legenda-gray {
  background-color:#262626;
}


.legenda.legenda-white {
  background-color:#ffffff;
  border: 1px #000 solid;
}

.text-icon h2, 
.text-icon h3{
  color: #fff;
}


/* ---------------- FINE FOMO MOBILE---------------- */






/* ---------------- INIZIO HIKI MOBILE---------------- */


/* ---------------- FINE HIKI MOBILE---------------- */








/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 15px 15px;
  font-weight: 400;
  margin: 0;
  background-color: #262626;
  color: #ffffff;
}

.foot {
  display: flex;
  padding: 5px 0;
  flex-direction: column;
}

.foot p {
  list-style: none;
  padding: 0;
  margin: 0;
}


@media (min-width: 768px) {


 .container-pages a {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    height: 15vh;
  }

  

  .top-img_2,
  .top-img_3 {
    /* height: 90vh; */
    height: 30svh;
    /* object-fit: contain; */
  }

}


@media (min-width: 992px) {
/*
.topic {
  /* padding-block-end: 40px;
  height: 100%;
}
*/


  .top-img {
height: auto;  }

  .index-col-fomo {
    border-inline-end: 2px #000 solid;
  }

  

  .container-pages h4 {
  line-height: 5.5rem;
  font-size: 5.5rem;
  font-weight: 700;
}



  .container-pages a {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 400;
  }


  .navbar .nav-link {
    color: #ffffff !important;
    display: flex;
    justify-content: center;
    font-weight: 400;
  }


  /* ---------------- INIZIO LANDING PAGE DESKTOP---------------- */


  .link-lan_1,
  .link-lan_4 {
    display: flex;
    justify-content: start;
    gap: 10px;

  }

  .link-lan_2,
  .link-lan_3 {
     padding: 0px;
  }


  .link-lan_1 a,
  .link-lan_4 a {
    background: #262626;
    border-color: #fff;
    border-style: solid;
    border-radius: 0;
    padding: 20px 30px;
    font-weight: 400;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
    width: 100%;
    max-width: 30rem;
  }

  .link-lan_1 a:hover,
  .link-lan_4 a:hover {
    background: #ffffff;
    color: #262626;
    text-decoration: none;
  }

  /* Cambia l'immagine all' hover */
  .link-lan_1 a:hover img,
  .link-lan_4 a:hover img {
    content: url("images/Sistema icone/freccia_bianca.png");
    mix-blend-mode: difference;
    /* Percorso nuova immagine */
  }

  .topic-light .link-lan_1 a, .topic-light .link-lan_4 a {
    color: #262626;
    background: #fff;
    border-color: #262626;
  }
  .topic-light .link-lan_1 a:hover, .topic-light .link-lan_4 a:hover {
    color: #fff;
    background: #262626;
    border-color: #262626;
  }


  .link-lan_1 img,
  .link-lan_4 img {
    width: 20px;
    height: 20px;
    align-items: stretch;

  }


  .top-img_2,
  .top-img_3 {

    height: 50svh;
    object-fit: contain; 
  }

  /* rettangolare su desktop */
  .top-img_1,
  .top-img_4 {
    aspect-ratio: 16/9;
   max-height: 70svh;
  }


  /* Topic 1 e 4 */

  .topic_center h1,
  .topic_center h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;

  }

  .topic_center h2,
  .topic_center h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    font-weight: 400;
    /* padding: 10px 280px; */
  }

  .topic_center h3,
  .topic_center h3 {
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
    font-weight: 400;
    /* padding: 10px 280px; */
  }

  .topic_center p,
  .topic_center p {
    font-size: 1.5rem;
    line-height: 120%;
    text-align: center;
    font-weight: 400;
    /* padding: 10px 270px; */
  }


  /* Topic 2 e 3 */
   .topic_left {
    height: 100%;
  }

  .topic_left h1,
  .topic_left h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    font-weight: 700;
    text-align: left;
  }

  .topic_left h2,
  .topic_left h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 400;
    text-align: left;
    padding: 10px 0;
  }
  .topic_left h3,
  .topic_left h3 {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 400;
    text-align: left;
    padding: 10px 0;
  }

  .topic_left p,
  .topic_left p {
    font-size: 1.5rem;
    line-height: 120%;
    font-weight: 400;
    text-align: left;
  }

  .pag-text {
    padding: 40px;
  }

 

  /* ---------------- FINE LANDING PAGE  DESKTOP ---------------- */



/* ---------------- INIZIO ANSIA SOCIALE DESKTOP ---------------- */





  
.graph img{
  max-width: 90%;
  object-fit: contain;


}

.graph{
display: flex;
justify-content: center;
align-items: center; 


}





/* ---------------- FINE ANSIA SOCIALE DESKTOP ---------------- */





/* ---------------- INIZIO FOMO DESKTOP ---------------- */

.text-row1 {
display: flex;
flex-direction: row;
align-items: baseline;
justify-self: center;
}

.text-part1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 40%;
  padding: 20px 0 ;
}


.text-part2{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 60%;
   padding:20px 40px;
}

/* ---------------- FINE FOMO DESKTOP ---------------- */





/* ---------------- INIZIO HIKIKO DESKTOP ---------------- */



/* ---------------- FINE HIKIKO DESKTOP ---------------- */




/* ---------------- INIZIO PROJECT DESKTOP ---------------- */



/* ---------------- FINE PROJECT DESKTOP ---------------- */

}







/* FONT FACE */
@font-face {
  font-family: 'disto';
  src: url(font/disto_Light.woff) format('woff'),
    url(font/disto_Light.otf) format('opentype');
 font-weight: 300; 
 font-style: normal;
}

@font-face {
  font-family: 'disto';
  src: url(font/disto_Regular.otf) format('woff'),
    url(font/disto_Regular.ttf) format('opentype');
 font-weight: 400; 
 font-style: normal;
}

@font-face {
  font-family: 'disto';
  src: url(font/disto_Black.otf) format('woff'),
    url(font/disto_Black.ttf) format('opentype');
 font-weight: 900; 
 font-style: normal;
}

@font-face {
  font-family: 'disto';
  src: url(font/disto_Bold.otf) format('woff'),
    url(font/disto_Bold.ttf) format('opentype');
 font-weight: 700; 
 font-style: normal;
}







/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Navbar mobile: sfondo scuro solo quando il menu è aperto */
@media (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}